.descripcion{
    font-family:initial;
    text-align: center;
    font-size: 20px;

}

@media (min-width: 768px) {
    .carta {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 10px;
        border: solid;
        border-width: 1px;
        border-color: black;
        padding: 10px;    
        font-family:initial;
        font-size: 18px;  
    }
}
  
  /* Estilos para pantalla chica */
  @media (max-width: 767px) {
    .carta {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        color: white;
        border-radius: 10px;
        border: solid;
        border-width: 1px;
        border-color: black;
    
    }
  }

  .zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
    
  }
.select {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5);
    z-index: 9999;
    
}