.menu{
    background-image: linear-gradient(to right, #613523fa, #3b1c3b80, #6135238f);
    color: white;
}

.imagen{
    padding-left: 330px;
}
.paginas{
    background-color: rgb(252, 252, 252);
}

